<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Log In
    </title>
</head>

<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/new'>Sign Up</a>
        <a href='/login'>Login</a>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
    </nav>