<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Log In
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/new'>Sign Up</a>
        <a href='/login'>Login</a>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
    </nav>

    <% if (errorMsg.length > 0) { %>
       <% errorMsg.forEach(message => { %>
            <div class="error"><%= message %></div>
       <% }); %>
   <% } %>

   <% if (successMsg.length > 0) { %>
    <% successMsg.forEach(message => { %>
         <div class="success"><%= message %></div>
    <% }); %>
<% } %>